.detailsContainer {
  max-width: 1200px;
  margin: 2rem auto;
  text-align: left;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 12px;

  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.detailsContent {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 2rem auto;
  text-align: left;
}

.detailsContent h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: serif;
}

.detailsContent p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.detailsContent a {
  color: #007bff;
  text-decoration: none;
}

.detailsContent a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
  .detailsContainer {
    padding: 1rem;
    margin: 1rem auto;
  }

  .detailsContent {
    padding: 1.5rem;
  }

  .detailsContent h2 {
    font-size: 2rem;
  }

  .detailsContent p {
    font-size: 0.9rem;
  }
}
